header {
    height: 75px;
}

#section-b {
    height: 150px;
}

.first-section {
    height: 250px;
}

.first-section div {
    height: 125px;
}

.second-section {
    height: 500px;
}

.second-section div {
    position: relative;
    width: 237px;
    height: 250px;
    float: left;
}

div {
    position: relative;
    height: 80px;
}

@media only screen and (min-width: 768px) {
    body{
        background-color: purple;
    }
}